
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap" rel="stylesheet">
<!--  <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">       -->
  <title>Frontend Mentor | Easybank landing page</title>
  <header class="header">
    <nav class="flex flex-jc-sb flex-ai-c">
      <a href="/" class="header__logo">
        <img src="/images/logo.svg" alt="EasyBank"/>
      </a>

      <a id="btnHamburger" href="#" class="header__menu open hide-for-desktop">
        <span></span>
        <span></span>
        <span></span>
      </a>


      <div class="header__links hide-for-mobile">
        <a href="{{ url_for('home') }}">Home</a><a href="#">About</a><a href="#">Contact</a><a href="#">Blog</a><a href="#">Careers</a>
      </div>

      <a href="#" class="button header__cta">Request Invite</a>
    </nav>
  </header>
